<!-- <app-nav></app-nav> -->
<router-outlet></router-outlet>
<!-- <div>
  <h1 style="text-align:center">
    Welcome!
  </h1>
  <table border="1" style="border-collapse: collapse;">
    <tr>
      <td>#</td>
      <td *ngFor="let daysOfWeek of daysOfWeek">{{daysOfWeek.format('ddd Do MMM')}}</td>
    </tr>
    <tr *ngFor="let habit of habits">
      <td>{{ habit.name }}</td>
      <td *ngFor="let dayOfWeek of daysOfWeek">
        <input type="checkbox" (click)="onEntry($event,habit, dayOfWeek)" [checked]="onChecked(habit,dayOfWeek)">
      </td>
    </tr>

  </table>
</div>
<br> Habit:
<input type="text" [(ngModel)]="habitName">
<button (click)="onAddHabit()"> Add</button> -->
